<!doctype html>
<head>
    <title>Forcier ODK Converter</title>

    <style type ="text/css">

        body {
            color: white;
            /* text-align: center; */
            font-family: sans-serif;
        }

        #formarea {
            padding: 1rem;
            margin: 0 auto;
            width: 75%;
            background-color: #756b60;
        }

        .license {
            font-size: small;
        }

        input[type=file] {
            width: 75%
        }

    </style>
</head>

<body>
    <div id="formarea">
        <h1>Forcier XLSX Converter for PARC</h1>
        Converts an XForm-formatted ODK questionnaire into a Word document that meets PARC specifications. Created for Forcier Consulting. <p/>
        Upload a file below for conversion. Reset the form after each successful download to convert more files!<p />

        <form method=post enctype=multipart/form-data>
            <input type=file name=file_to_convert>
            <input type=submit value=Convert>
        </form> <a href="{{ url_for('clean_me') }}"><button>Reset</button></a><p />
        <span class="license">&copy; 2018 Langer Research Associates. <a href="https://raw.githubusercontent.com/XLSForm/pyxform/master/LICENSE">License for XLSForm components.</a></span><p />
    </div>
</body>



